.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  text-align: center;
  background-color: rgb(11 66 18);
}

@media (width <= 600px) {
  .board {
    grid-template-rows: repeat(8, 30px);
    grid-template-columns: repeat(8, 30px);
    gap: 1px;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid #000;
}

.stone {
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
}

.shade {
  width: 30px;
  height: 30px;
  margin: 13px auto;
  background-color: rgb(195 195 197 / 77.4%);
  border-radius: 50%;
}

.score {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

@media (width <= 600px) {
  .score {
    font-size: 14px;
  }
}

.box {
  position: absolute;
  top: 200px;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 260px;
  border: 6px solid #000;
  border-radius: 10px;
}

.message {
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 25px 50px;
  margin: 10px 0;
  font-weight: bold;
  color: #ef0;
  text-align: center;
  background: linear-gradient(to right, #2b530a, #227409);
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  animation: fadeIn 0.5s ease;
}

@media (width <= 600px) {
  .message {
    padding: 8px 12px;
    font-size: 14px;
  }
}
